In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## note: here i'm not going to explain the things that i have already learnt.

In [2]:
df1= pd.read_csv('C:\\Users\\hemanth kumar\\Desktop\\MACHINE LEARNING\\A-Z data sets\\P14-Part2-Regression (1)\\P14-Part2-Regression\\Section 6 - Simple Linear Regression\\Python\\Salary_Data.csv')

In [3]:
df1.head() #here our data is like a dataframe because python understands it

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

## here our data df1 is being stored as a library 
### so here columns are keys and corresponding values are the values of library respectively.

In [8]:
X=df1.iloc[:,:-1]

In [9]:
Y=df1.iloc[:,-1]

In [10]:
X.values #see it's a library.

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [11]:
x=X.values
y=Y.values

## preprocessing data
### sugested a very long method
### by importing: from sklearn.preprocessing import imputer
#### i can do it by normal filtering consider it if it is needed in future.

In [10]:
round(X['Age'].mean(),2)

38.78

In [11]:
#filling the missing data
mean_age=round(X['Age'].mean())
mean_salary=round(X['Salary'].mean())
X['Age']=X['Age'].replace({np.NaN:mean_age})
X['Salary']=X['Salary'].replace({np.NaN:mean_salary})
X

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0  63778.0
5   France  35.0  58000.0
6    Spain  39.0  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

## catagorical variables: string type data => don't have numerical values
### need to be converted into some numerical values.

In [12]:
x=X.values
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63778.0],
       ['France', 35.0, 58000.0],
       ['Spain', 39.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [13]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder_x=LabelEncoder()  #creating an object of LabelEncoder class
#X['Country']=labelencoder.fit_transform(X['Country']) #this can be done but,not a good practice see video common scense
onehotencoder=OneHotEncoder()

In [14]:
p=onehotencoder.fit_transform(X[['Country']]).toarray()
p=pd.DataFrame(p)
X=p.merge(X,how='outer',left_index=True,right_index=True).drop('Country',axis=1)

In [15]:
labelencoder_y=LabelEncoder()
Y=labelencoder_y.fit_transform(Y)
Y=pd.DataFrame(Y,columns=['Purchased'])

In [16]:
Y

   Purchased
0          0
1          1
2          0
3          0
4          1
5          1
6          0
7          1
8          0
9          1

## encoding always return a array only to get back into a dataframe we have to convert it back

## data splitting

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,train_size=0.8,random_state=0)
print(x_train)

     0    1    2   Age   Salary
4  0.0  1.0  0.0  40.0  63778.0
9  1.0  0.0  0.0  37.0  67000.0
1  0.0  0.0  1.0  27.0  48000.0
6  0.0  0.0  1.0  39.0  52000.0
7  1.0  0.0  0.0  48.0  79000.0
3  0.0  0.0  1.0  38.0  61000.0
0  1.0  0.0  0.0  44.0  72000.0
5  1.0  0.0  0.0  35.0  58000.0

### note: here we are using model_selctin library ealier in (A-Z class tut) used cross_validation lib

In [40]:
y_train

   Purchased
4          1
9          1
1          1
6          0
7          1
3          0
0          0
5          1

## feature scaling

In [41]:
from sklearn.preprocessing import StandardScaler
ssr=StandardScaler()
x_train=ssr.fit_transform(x_train)
x_test=ssr.fit_transform(x_test)
x_train

array([[-1.        ,  2.64575131, -0.77459667,  0.25819889,  0.12383513],
       [ 1.        , -0.37796447, -0.77459667, -0.25819889,  0.46175324],
       [-1.        , -0.37796447,  1.29099445, -1.97952482, -1.53093577],
       [-1.        , -0.37796447,  1.29099445,  0.0860663 , -1.11142229],
       [ 1.        , -0.37796447, -0.77459667,  1.63525964,  1.72029366],
       [-1.        , -0.37796447,  1.29099445, -0.0860663 , -0.16751697],
       [ 1.        , -0.37796447, -0.77459667,  0.94672926,  0.98614508],
       [ 1.        , -0.37796447, -0.77459667, -0.60246408, -0.48215208]])

### note:here this is a calssification model so we have 0's and 1's in the y ,so we don't do feature scaling but for regression model we do feature scaling for y also.